* {
  font-family: Pacifico, Arial, Helvetica, sans-serif;
  color: rgb(62, 106, 199);
  text-align: center;
}


/* FONTS */

h1 {
  font-family: Arvo, Helvetica, sans-serif;
}

h4 {
  font-family: Arvo, Helvetica, sans-serif;
  font-size: 1.25rem;
}


/* LINKS & BUTTONS */

a {
   color: rgb(62, 106, 199);
}

a:link {
  color: rgb(62, 106, 199);
  text-decoration: none;
}
a:hover {
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

 button {
  background-color: rgb(62, 106, 199);
  width: 45%;
  margin: 20px 10px;
  font-family: Arvo, Helvetica, sans-serif;
  border: none;
  color: white;
  padding: 10px 33px;
  font-size: 1rem;
  outline: none;
}

button:hover {
  background-color: rgb(145, 186, 240);
  color: black;
  cursor: pointer;
}



/* HEADER */

header{
  background-color: rgb(62, 106, 199);
}

header h1 {
  color: white
}

/* START PAGE */
.start-modal{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  font-size: 1.5rem ;
}

.vid-container {
  height: 73%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vid {
  object-fit: cover;
  height: 100%;
}


h1.start-text{
  position: absolute;
  color: white;
  font-family: Arvo, Helvetica, sans-serif;
  opacity: 0.95;
  text-align: center;
}

select {
  padding: 1rem 2rem;
  font-family: Arvo, Helvetica, sans-serif;
  font-size: 1rem;
  outline: none;
}

select:hover {
  border-color: rgb(62, 106, 199);
  cursor: pointer;
}

/*LOADING PAGE */

.loading-modal{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  font-size: 1.5rem ;
  background-color: white;
}

.loading {
  width: 50px;
  height:40px;
  margin: 40px auto;
}

.loading--plane {
  width: 130px;
  stroke-dasharray: 425.59;
  stroke-dashoffset: 425.59;
  animation: plane-loading-animation 3s linear infinite;
}


@keyframes plane-loading-animation {
  50% {
    stroke-dashoffset: 425.59;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -425.59;
  }
}


/* TABLE */

table {
  border-collapse: collapse;
  width: 100%;
  font-weight: bold;
}

table, th, td {
  font-family: Arvo, sans-serif;
  border: 1px solid black;
}

th,td {
  height: 75px;
  text-align: center;
}

th {
  background-color: rgb(145, 186, 240);
  color: rgb(32, 32, 32);
}

/* FOOTER */

footer {
    position: relative;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
}

footer h4 {
  font-size: 1rem;
}

/*HIDDEN */

.hidden {
  display: none;
}
